body {
    background-color: #1f2933;
    color: white;
    font-family: 'Helvetica Neue';
    text-align: center;
}

div.welcome, body.error {
    padding: 15%;
}

body.quote {
    padding: 10%;
}

span.blue {
    color: #0096ff;
}

a {
    color: white;
}

a.next, a.back {
    padding: 0.5%;
}

a.next:hover, a.back:hover {
    background-color: #0096ff;   
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}