<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quotifai</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='content/main.css') }}" />
    <link rel="stylesheet" href="https://afeld.github.io/emoji-css/emoji.css" >
</head>

<body>
    <h1>welcome to quotif<span class='ai'>ai</span>!</h1>
    <h2>enter an image address:</h2>
    <form action='/quote' method='POST'>
        <input type='text' name='address'>
        <input type='submit' value='submit'>
    </form>
</body>

<footer>
    <h4>made with <a href='https://github.com/elanatee/quotifai'><i class="em em-fries"></i></a> by <a href='http://elanatee.com'>elana tee</a>.</h4>
</footer>